$width-limiter: 980px;

$font-noway: Noway-Regular, sans-serif;
$font-gotham-italic: Gotham-Ultra-Italic, sans-serif;
$font-gotham-medium: Gotham-Narrow-Medium, sans-serif;

// Colors
$color-button-prize: #156bbc;
$color-footer: #005aa0;
$color-bg-scroll: #6690fe;
$color-bg-scroll-hover: #0c1838;
$color-bg-scroll-hover-text: #5174cf;
