extends extends/base

block identify
  input#identify(type="hidden", data-controller="staff", data-action="")

block content
  #challenge
    include includes/header

    //- include includes/page

    include includes/footer

block bottom
