extends extends/base

block content

  #staff

    input(type="checkbox" id="menuchk")
    include includes/header
    include includes/banner
    include includes/methodology

    //- include includes/page

    include includes/footer

block bottom
