.staff__banner
  .staff__container
    .staff__banner__container
      .banner__textblock
        .title Nuestro Objetivo:
        .subtitle incrementar el valor de tu negocio
        hr
        .description
          | En SVC entendemos que los negocios extraordinarios se crean en las líneas que están por encima de la utilidad operativa dentro del estado de resultados, es decir, en el espacio donde la estrategia y la consultoría enfocada en el valor cobran relevancia
