.staff__banner
  .staff__container
    .staff__banner__container
      .banner__textblock
        .title Nuestro Objetivo:
        .subtitle incrementar el valor de tu negocio
        hr
        .description
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
