.staff__carousel
  .staff__container
    .staff__carousel__container
      .staff__carousel__consultores
        .title Te ofrecemos un equipo senior de consultores
        .concept con amplia experiencia en finanzas corporativas y estrategia, dedicados de forma exclusiva.

      .staff__carousel__information
        .carousel__box
          .carousel__images
            img.photo(src="/images/foto1.png")
          .carousel__information
            p.title Rodrigo Cruz B.
            p.subtitle Gerente general
            p.information Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip sequat.
        .carousel__box
          .carousel__images
            img.photo(src="/images/foto2.png")
          .carousel__information
            p.title Rodrigo Cruz B.
            p.subtitle Gerente general
            p.information Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip sequat.
        .carousel__box
          .carousel__images
            img.photo(src="/images/foto3.png")
          .carousel__information
            p.title Rodrigo Cruz B.
            p.subtitle Gerente general
            p.information Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip sequat.
        .carousel__box
          .carousel__images
            img.photo(src="/images/foto4.png")
          .carousel__information
            p.title Rodrigo Cruz B.
            p.subtitle Gerente general
            p.information Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip sequat.
