header.staff__header
  .staff__container
    nav.staff__header__container
      .staff__header__logo
        a.link(href="")
          img.logo(src="/images/logo.png")

      .staff__header__close
        label.close(for="menuchk")
          span
          span
          span

      .staff__header__menu
        ul.menu
          li.menu__option
            a.option.option--active(href="#", target='_blank') Nosotros
          li.menu__option
            a.option(href="#", target='_blank') Servicios
          li.menu__option
            a.option(href="#", target='_blank') Blog
          li.menu__option
            a.option(href="#", target='_blank') Contacto
