.staff__methodology
  .staff__container
    .staff__methodology__content
      .methodology__box
        .methodology__information
          h2.title Nuestra Metodología
          p.description
            | A través de la elaboración de un modelo financiero, analizamos junto contigo el modelo de negocio para tu empresa o emprendimiento. Con ello podremos determinar, por ejemplo:

          .textblock
            p.text • Los productos o servicios más rentables
            p.text • El tamaño de negocio mínimo
            p.text • La conveniencia entre comprar o alquilar un activo
            p.text • La conveniencia entre desarrollar tareas in-house o tercerizarlas
            p.text • El mejor camino para lograr el crecimiento del negocio
            p.text • El esquema de financiamiento más conveniente
            p.text • Los aspectos contables y de planeamiento tributario a considerar

      .methodology__box
        .methodology__image
          img.computer(src="/images/laptop.png")
