.staff__methodology
  .staff__container
    .staff__methodology__content
      .methodology__box
        .methodology__information
          h2.title Nuestra Metodología
          p.description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  ipsum dolor sit amet, ipsum dolor sit amet,  tempor incididunt ut labore et dolore magna aliqua.

          .textblock
            p.text • Lorem ipsum dolor sit amet, consectetur adipisicing eli.
            p.text • Lorem ipsum dolor sit amet, consectetur adipisicing eli.
            p.text • Lorem ipsum dolor sit amet, consectetur adipisicing eli.
            p.text • Lorem ipsum dolor sit amet, consectetur adipisicing eli.
            p.text • Lorem ipsum dolor sit amet, consectetur adipisicing eli.
            p.text • Lorem ipsum dolor sit amet, consectetur adipisicing eli.
            p.text • Lorem ipsum dolor sit amet, consectetur adipisicing eli.

      .methodology__box
        .methodology__image
          img.computer(src="/images/laptop.png")
